# OSX
#
.DS_Store

# Xcode
#
build/
build-ios/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.apk

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
build
out

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore
release-keys

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
fastlane/report.xml


# Bundle artifact
*.jsbundle

Pods
# Haul bundler
stats.html
index.ios.bundle
index.ios.bundle.map
index.android.bundle
index.android.bundle.map
haul-debug.log

.vscode
fastlane/report.xml

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
